@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        gap: 40px;
    }
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 40px;
    }
}
@media screen and (min-width:768px) and (max-width:1200px) {
    .navbar {
        padding: 0 20px;
    }
}