@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 40px;
    }
    .banner-section {
        flex-direction: column-reverse;
        background-position: top;
        padding: 0 40px;
        gap: 100px;
    }
    .banner-content {
        text-align: center;
        padding: 0 10px;
    }
    .banner-heading {
        font-size: 2.5rem;
    }
    .btn {
        display: block;
        margin: 20px auto;
    }
    .sponsor-section {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .card-container {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-btn {
        padding: 0 20px;
    }
    .feature-section {
        flex-direction: column;
    }
    .feature-content {
        padding: 0 20px;
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
    }
    .nav-link {
        font-size: 12px;
    }
    .banner-section {
        flex-direction: column-reverse;
        background-position: top;
        background-size: 100%;
        padding: 0 20px;
    }
    .banner-content {
        text-align: center;
    }
    .banner-img img {
    width: 100%;
    }
    .banner-heading {
        font-size: 2.5rem;
    }
    .btn {
        display: block;
        margin: 20px auto;
    }
    .sponsor-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        align-items: center;
    }
    .sponsor img {
        width: 100%;
    }
    .card-container {
        padding: 0 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .card-btn {
        padding: 0 20px;
    }
    .feature-section {
        flex-direction: column-reverse;
    }
    .feature-img img {
        width: 100%;
    }
}
@media screen and (min-width:768px) and (max-width:998px) {
    .banner-section {
        flex-direction: column-reverse;
        background-position: top center;
        gap: 80px;
    }
    .sponsor-section {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .card-btn {
        padding: 0 20px;
    }
    .feature-section {
        flex-direction: column;
    }
}
@media screen and (min-width:768px) and (max-width:1200px) {
    .navbar, .banner-section, .card-container, .card-btn {
        padding: 0 20px;
    }
    .feature-section {
        padding: 0 20px;
    }
}