* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Shared Items */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* Header Section css */
/* navbar css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-logo h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #3a3a3a;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}
.nav-link:hover {
    color: #e02c6d;
}
/* Banner Section Css */
.banner-section {
    margin-top: 50px;
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right ;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}
.banner-heading {
    font-size: 3.25rem;
    font-weight: 800px;
    margin-bottom: 15px;
}
.banner-description {
    font-size: 1rem;
    color: #3a3a3a;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 24px;
}
.btn {
    background-color: #e02c6d;
    color: #ffffff;
    border: 2px solid #e02c6d ;
    padding: 10px 24px;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    color: #e02c6d;
    background-color: #ffffff;
}
/* Sponsor Section */
.sponsor-section {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    align-items: center;
    padding: 0 30px;
}
.card-section {
    margin-top: 100px;
}
.card-heading {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1050px;
    margin: 0 auto;
    gap: 30px;
}
.card {
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 6px;
}
.card img {
    width: 100%;
    margin-bottom: 10px;
}
.card-in-heading {
    font-size:1.75rem ;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgba(24, 25, 31, 1);
}
.card-price {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #3a3a3a;
}
.card-description {
    font-size: 0.87rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);
    margin-bottom: 5px;
}
.card-btn {
    max-width: 1120px;
    margin-top: 50px;
    display: flex;
    justify-content: end;
}
.btn2 {
    color: #e02c6d;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}
/* Feature Section */
.feature-section {
    margin-top: 130px;
    display: flex;
    gap: 80px;
    align-items: center;
}
.feature-heading {
    font-size: 2.37rem;
    font-weight: 800;
    color: #0A0826;
    margin-bottom: 30px;
}
.feature-description {
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 40px;
}
.btn3 {
    background-color: #e02c6d;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 10px 24px;
    border: 2px solid #e02c6d;
    cursor: pointer;
    transition: 0.3s;
}
.btn3:hover {
    background-color: #ffffff;
    color: #e02c6d;
}
/* Footer section */
.footer-section {
    background-color: #0a0826;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 80px 0;
}
.footer-heading {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
}
.footer-discription {
    font-size: 0.87rem;
    color: #ffffff;
}
.footer-icon {
    display: flex;
    gap: 20px;
}
.footer-icon a{
    background-color: #22213c;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 100%;
}