* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Shared Items */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* Header Section css */
/* navbar css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-logo h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #3a3a3a;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}
.nav-link:hover {
    color: #e02c6d;
}